:root {
  --fondo: black;
}

*{
  font-family:helvetica;
}

body {
  background-color: var(--fondo);
} 

#aifon {
  background-color: var(--fondo);
  border: 3px solid white;
  border-radius: 50px;
  width: calc(1170px/5);
  height: calc(2535px/5);
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

#island {
  border: 1px solid white;
  margin: 0 auto;
  width: calc(1170px/12);
  height: 25px;
  border-radius: 30px;
  
}

#resultado h2 {
  color: white;
  text-align: right;
  font-size: 200%;
  padding-right: 10%;
}

button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

#top {
  float:inline-start
}

#numbers {
  float: left;
}

#numbers .columna button {
  background-color: #4d4d4d;
  color: white;
  font-size: 150%;
}

#numbers .columna button:hover {
  background-color: #666666;
}

#cero {
  border-radius: 30px;
  width: 100px;
  text-align: left;
  padding-left:20px;
}

#operations {
  float: right;
}

#gestos {
  background-color: white;
  margin: 0 auto;
  margin-top: 14%;
  width: calc(1170px/12);
  height: 5px;
  border-radius: 30px;
}