:root {
  --fondo: #1c1c1e;
  --gris_btn: #3A3A3C;
  --naranja_btn: #FF9500;
  --blanco_btn: #FFFFFF;
  --texto_blanco: #FFFFFF;
  --texto_negros: #000000;
}

*{
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: var(--fondo);
  min-height: 100% !important;
  height: 100%;
}

.calculadora {
  margin-top: 40%;
  margin-bottom: 50%;
}

.resultado {
  color: var(--texto_blanco);
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  font-size: 30vw;
  justify-self: flex-end;
}

.teclado {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.teclado .btn {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  font-size: 10vw;
  padding: 2vw;
  margin: 1vw;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  border: none;
}

.top {
  background-color: var(--blanco_btn);
  color: var(--texto_negro);
}

.lateral{
  background-color: var(--naranja_btn);
  color: var(--texto_blanco);
}

.numeros{
  background-color: var(--gris_btn);
  color: var(--texto_blanco)
}

.cero {
  grid-column: span 2;
  width: 20vw;
  border-radius: 135px;
}